.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
        img {
            width: 80%;
        }
    }
    .slick-prev,  .slick-next, .prev, .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -67px;
        border: none;
        background: #fff;
        z-index: 100;
        img{
            width: 31px;
            height: 50px;
        }
    }
    .slick-next, .next {
        right: -67px;
        left: auto;
    }

    .tns-item {
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
